#input{
  position: fixed;
  top: 0;
  transform: translateY(-100vh);
}
.letter.sel{
  background-color: #63f;
  color: #fff;
}
.letter.b{
  font-weight: bold;
}
.letter.i{
  font-style: italic;
}
.letter.u{
  text-decoration: underline;
}
.letter.c{
  text-decoration: line-through;
}

#output{
  width: 100%;
  height: 70vh;
  margin: 10vh;
  padding: 5vh;
  border: solid 1pt black;
}
