.dta_input{
  position: fixed;
  top: 0;
  transform: translateY(-100vh);
}

.dta_letter.sel{
  background-color: #63f;
  color: #fff;
}
.dta_letter.b{
  font-weight: bold;
}
.dta_letter.i{
  font-style: italic;
}
.dta_letter.u{
  text-decoration: underline;
}
.dta_letter.c{
  text-decoration: line-through;
}
.dta_placeholder{
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.dta_placeholder.hidden{
  display: none;
}
.dta_cursor{
  animation: blink 0.5s ease-in-out infinite alternate;
}
@keyframes blink{
    0% {opacity:0;}
    49%{opacity: 0;}
    50%{opacity:1;}
    100% {opacity:1;}
  }
.dta_output{
  width: 100%;
  height: 70vh;
  margin: 10vh;
  padding: 5vh;
  border: solid 1pt black;
}
